@model Datos.Models.ImportacionesModel

@using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "DatosForm" }))
{
    @Html.HiddenFor(m => m.Codigo)
    <div class="row">
        <div class="col-sm-2">
            <label>Proveedor</label>
            @Html.TextBoxFor(m => m.CodigoProveedor, new { @class = "form-control alert-warning", @maxlength = "11", onkeypress = "solo_enteros(event)", ondblclick = "AjaxModalGet('Listado de Proveedores', '/Proveedor/Proveedores', 'nada2', 'm_middle')" })
        </div>
        <div class="col-sm-4">
            <label>Descripci&oacute;n</label>
            <input readonly class="form-control" id="descripcion_proveedor" />
        </div>
        <div class="col-sm-2">
            <label>R.U.C.</label>
            <input readonly class="form-control" id="ruc_proveedor" />
        </div>
        <div class="col-sm-3">
            <label>Mes-Per&iacute;odo Contabilizaci&oacute;n</label>
            @Html.DropDownListFor(m => m.Serie, new List<SelectListItem>
            {
                new SelectListItem{ Text="01-2019", Value = "1" },
                new SelectListItem{ Text="02-2019", Value = "2" },
                new SelectListItem{ Text="03-2019", Value = "3" },
            }, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Documento</label><br />
            <div class="row">
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.TipoDocumento, new { @class = "form-control alert-warning", @maxlength = "3", onkeypress = "solo_alfanumericos(event)", ondblclick = "AjaxModalGet('Tipo de Documento', '/Utilitarios/TipoDocumento', 'nada2', 'm_middle')" })
                </div>
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.Documento, new { @class = "form-control", @maxlength = "25", onkeypress = "solo_alfanumericos(event)" })
                </div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Documento2, new { @class = "form-control", @maxlength = "25", onkeypress = "solo_alfanumericos(event)" })
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <label>Cod. Gasto</label><br />
            <div class="row">
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.TipoGasto, new { @class = "form-control alert-warning", @maxlength = "3", onkeypress = "solo_decimal(event, this)", ondblclick = "AjaxModalGet('Tipo de Gastos', '/Utilitarios/TipoGastos', 'nada2', 'm_middle')" })
                </div>
                <div class="col-sm-9">
                    <input class="form-control" readonly id="descripcion_gasto" />
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <label>Moneda Imp</label>
            @Html.DropDownListFor(m => m.Moneda, new List<SelectListItem>
            {
                new SelectListItem{ Text="Moneda Nacional", Value = "MN" },
                new SelectListItem{ Text="Moneda Extranjera", Value = "ME" },
            }, new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            <label>Valor Vta.</label>
            @Html.TextBoxFor(m => m.ValorVta, new { @class = "form-control", @maxlength = "20", onkeypress = "solo_decimal(event, this)" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label>Equiv. ME</label><br />
            <input readonly class="form-control" id="equivalente_me" />
        </div>
        <div class="col-sm-2">
            <label>Precio Vta. ME</label>
            <input readonly class="form-control" id="precio_vta" />
        </div>
        <div class="col-sm-2">
            <label>Fecha Emisi&oacute;n</label>
            @Html.TextBoxFor(m => m.FechaEmision, new { @class = "form-control datepickers", @readonly = true })
        </div>
        <div class="col-sm-1">
            <label>D&iacute;as</label>
            @Html.TextBoxFor(m => m.Dias, new { @class = "form-control", @maxlength = "10", onkeypress = "solo_enteros(event)" })
        </div>
        <div class="col-sm-1">
            <label>T/C</label>
            @Html.TextBoxFor(m => m.TotalCredito, new { @class = "form-control", @maxlength = "20", onkeypress = "solo_decimal(event, this)" })
        </div>
        <div class="col-sm-2">
            <label>Fecha Pago</label>
            @Html.TextBoxFor(m => m.FechaPago, new { @class = "form-control datepickers", @readonly = true })
        </div>
        <div class="col-sm-2">
            <label>TM</label>
            @Html.DropDownListFor(m => m.MonedaEx, new List<SelectListItem>
            {
                new SelectListItem{ Text="Moneda Nacional", Value = "MN" },
                new SelectListItem{ Text="Moneda Extranjera", Value = "ME" },
            }, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label>TASA I.G.V.</label><br />
            @Html.TextBoxFor(m => m.ImporteIGV, new { @class = "form-control", @maxlength = "20", onkeypress = "solo_decimal(event, this)" })
        </div>
        <div class="col-sm-2">
            <label>Precio Vta.</label>
            @Html.TextBoxFor(m => m.PrecioVenta, new { @class = "form-control", @maxlength = "20", onkeypress = "solo_decimal(event, this)" })
        </div>
        <div class="col-sm-2">
            <label>I.G.V.</label>
            @Html.TextBoxFor(m => m.IGV, new { @class = "form-control", @maxlength = "20", onkeypress = "solo_decimal(event, this)" })
        </div>
        <div class="col-sm-2">
            <label>Afecto</label>
            @Html.TextBoxFor(m => m.Afecto, new { @class = "form-control", @readonly = true })
        </div>
        <div class="col-sm-2">
            <label>Inafecto</label>
            @Html.TextBoxFor(m => m.Inafecto, new { @class = "form-control", @maxlength = "20", onkeypress = "solo_decimal(event, this)" })
        </div>
        <div class="col-sm-2">
            <label>Valor Vta.</label>
            @Html.TextBoxFor(m => m.ValorVenta, new { @class = "form-control", @maxlength = "20", onkeypress = "solo_decimal(event, this)" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <label>Glosa:</label>
            @Html.TextBoxFor(m => m.Glosa, new { @class = "form-control", @maxlength = "60", onkeypress = "solo_alfanumericos(event)" })
        </div>
        <div class="col-sm-3 text-center">
            Enviar a Cuentas por Pagar<br />
            @Html.CheckBoxFor(m => m.EnviarCXP) 
        </div>
    </div>
}
<hr />
<div class="form-group row">
    <div class="col-sm-12">
        <a href="#" onclick='ocultar_panel("GOIndex", "Importaciones")' class="btn btn-info">
            <i class='fa fa-arrow-left'></i>
            Regresar
        </a>
        <button class="btn btn-success">
            <i class='fa fa-save'></i>
            Guardar
        </button>
    </div>
</div>
