@model Datos.Models.ImportacionesModel
@{
    ViewBag.Title = "Gastos DUA";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Importaciones", "Index", "Importaciones")</li>
                    <li class="breadcrumbs-item">Transacciones</li>
                    <li class="breadcrumbs-item"><a href="#" onclick='pagina_central("NAIndex", "Importaciones")'>Nacionalización de Art&iacute;culos</a></li>
                    <li class="breadcrumbs-item active">Gastos</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> Gasto de Importaci&oacute;n</h5>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda @ViewBag.Title - Crear / Editar', '/Importaciones/Ayuda', 'NAGastos', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    <hr />
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "DatosForm" }))
    {
        @Html.HiddenFor(m => m.Codigo)
        <div class="row">
            <div class="col-sm-4">
                <label>Nro. Orden Importaci&oacute;n</label>
                @Html.TextBoxFor(m => m.NroOrden, new { @class = "form-control", @readonly = "true" })
            </div>
            <div class="col-sm-2">
                <label>F. Emisi&oacute;n</label>
                @Html.TextBoxFor(m => m.FechaEmision, new { @class = "form-control datepickers", @readonly = true })
            </div>
            <div class="col-sm-2">
                <label>T/C</label>
                @Html.TextBoxFor(m => m.TotalCredito, new { @class = "form-control", @readonly = true })
            </div>
            <div class="col-sm-2">
                <label>T.M.</label>
                @Html.TextBoxFor(m => m.TM, new { @class = "form-control", @readonly = true })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <label>Incoterm</label>
                <div class="row">
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Incoterms, new { @class = "form-control", @readonly = true })
                    </div>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control" id="descripcion_incoterm" />
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <label>Moneda Origen</label>
                <div class="row">
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Moneda, new { @class = "form-control", @readonly = true })
                    </div>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control" id="moneda_descripcion" />
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <label>Equiv. ME</label>
                @Html.TextBoxFor(m => m.MonedaEx, new { @class = "form-control", @readonly = true })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label>No. Poliza de Seguro</label><br />
                @Html.TextBoxFor(m => m.Seguro, new { @class = "form-control", @maxlength = "30", onkeypress = "solo_decimal(event, this)" })
            </div>
            <div class="col-sm-2">
                <label>Seguro ME</label><br />
                @Html.TextBoxFor(m => m.SeguroME, new { @class = "form-control", @maxlength = "20", onkeypress = "solo_decimal(event, this)" })
            </div>
            <div class="col-sm-2">
                <label>Seguro MN</label><br />
                @Html.TextBoxFor(m => m.SeguroMN, new { @class = "form-control", @maxlength = "20", onkeypress = "solo_decimal(event, this)" })
            </div>
            <div class="col-sm-2 border-left border-left-1">
                <label>Packing List</label><br />
                @Html.TextBoxFor(m => m.Parking, new { @class = "form-control", @maxlength = "20", onkeypress = "solo_decimal(event, this)" })
            </div>
            <div class="col-sm-2">
                <label>Flete ME</label><br />
                @Html.TextBoxFor(m => m.FleteME, new { @class = "form-control", @maxlength = "20", onkeypress = "solo_decimal(event, this)" })
            </div>
            <div class="col-sm-2">
                <label>Flete MN</label><br />
                @Html.TextBoxFor(m => m.FleteMN, new { @class = "form-control", @maxlength = "20", onkeypress = "solo_decimal(event, this)" })
            </div>
        </div>
    }
    <hr />
    <div class="form-group row">
        <div class="col-sm-12">
            <button class="btn btn-primary" onclick="AjaxModalGet('Registrar Gastos de Importación', '/Importaciones/GastosImportacion')">
                <i class='fa fa-plus'></i>
                Nuevo
            </button>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold">Gastos de Importaci&oacute;n</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped pre-scrollable datatables" id="NAGastosGrid" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Cod. Prov.</th>
                            <th>Descripci&oacute;n</th>
                            <th>Gastos</th>
                            <th>Documento</th>
                            <th>F. Emisi&oacute;n</th>
                            <th>Importe</th>
                            <th>T.M.</th>
                            <th>T/C</th>
                            <th>D.U.A.</th>
                            <th style="width: 5px"></th>
                            <th style="width: 5px"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <div class="col-sm-12">
            <a href="#" onclick='ocultar_panel("NAIndex", "Importaciones")' class="btn btn-info">
                <i class='fa fa-arrow-left'></i>
                Regresar
            </a>
            <button class="btn btn-success">
                <i class='fa fa-save'></i>
                Guardar
            </button>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#NAGastosGrid").DataTable({
            processing: true, // for show progress bar
            serverSide: true, // for process server side
            filter: true, // this is for disable filter (search box)
            orderMulti: false, // for disable multiple column at once
            

            ajax: {
                url: ruta_actual + "/Importaciones/GridGOImportacion",
                type: "POST",
                datatype: "json",
            },
            columns: [
                { data: "CodigoProveedor" },
                { data: "DescripcionProveedor" },
                { data: "Gastos" },
                { data: "Documento" },
                { data: "FechaEmision" },
                { data: "Importe" },
                { data: "TM" },
                { data: "TotalCredito" },
                { data: "DUA" },
                {
                    render: function (data, type, row)
                    { return '<a class="btn btn-info grid_opt" href="#" onclick="AjaxModalGet(\'Registrar Gastos de Importación\', \'/Importaciones/GastosImportacion\')" ><i class="fa fa-edit"></i></a>'; }
                },
                {
                    data: null, render: function (data, type, row) {
                        return '<a class="btn btn-danger grid_opt" title="Anular" href="#" onclick="anular_nota(\'' + row.Codigo + '\')"><i class="fa fa-trash"></i></a>';
                    }
                }
            ]
        });
    });
</script>
