@model Datos.Models.AlmacenesModel

@{
    ViewBag.Title = "Corrección de Artículos Valorizados";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Almacenes", "Index", "Almacenes")</li>
                    <li class="breadcrumbs-item">Procesos</li>
                    <li class="breadcrumbs-item">Valorizaci&oacute;n de Art&iacute;culos por Documento</li>
                    <li class="breadcrumbs-item active">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>@ViewBag.Title</b></h5>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda @ViewBag.Title - Crear / Editar', '/Almacenes/Ayuda', 'PCAVDetalle', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "DatosForm" }))
    {
        @Html.HiddenFor(m => m.Codigo)
        <div class="row">
            <div class="col-sm-2">
                <label>Fecha</label>
                @Html.TextBoxFor(m => m.FechaEmision, new { @class = "form-control datepickers", @readonly = "true" })
            </div>
            <div class="col-sm-3">
                <label>N&uacute;mero</label>
                @Html.TextBoxFor(m => m.NroTransferencia, new { @class = "form-control", @readonly = "true" })
            </div>
            <div class="col-sm-5">
                <label>Transacci&oacute;n</label>
                <div class="row">
                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.TipoTransaccion, new { @class = "form-control alert-warning", @maxlength = "3", onkeypress = "solo_alfanumericos(event)", ondblclick = "AjaxModalGet('Tipo de Transacción', '/Utilitarios/TipoTransaccion', 'nada2', 'm_middle')" })
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" readonly id="descripcion_tipodocumento" />
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <label>Moneda</label>
                @Html.DropDownListFor(m => m.Moneda, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Moneda Nacional", Value = "MN" },
                    new SelectListItem{ Text="Moneda Extranjera", Value = "ME" },
                }, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>Proveedor</label>
                <div class="row">
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.CodigoProveedor, new { @class = "form-control alert-warning", @maxlength = "11", onkeypress = "solo_enteros(event)", ondblclick = "AjaxModalGet('Listado de Proveedores', '/Proveedor/Proveedores', 'nada2', 'm_middle')" })
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" readonly id="descripcion_proveedor" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <label>Doc. Ref.</label>
                <div class="row">
                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.TipoTransaccion, new { @class = "form-control alert-warning", @maxlength = "3", onkeypress = "solo_alfanumericos(event)", ondblclick = "AjaxModalGet('Tipo de Documento', '/Utilitarios/TipoDocumento', 'nada2', 'm_middle')" })
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.CAAnexo, new { @class = "form-control", @maxlength = "11", onkeypress = "solo_enteros(event)" })
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" readonly id="descripcion_documento" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label>C&oacute;digo</label>
                @Html.TextBoxFor(m => m.CodigoProducto, new { @class = "form-control", @readonly = "true" })
            </div>
            <div class="col-sm-3">
                <label>Descripci&oacute;n</label>
                @Html.TextBoxFor(m => m.DescripcionProducto, new { @class = "form-control", @readonly = "true" })
            </div>
            <div class="col-sm-3">
                <label>Lote</label>
                @Html.TextBoxFor(m => m.Lote, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label>Cantidad</label>
                @Html.TextBoxFor(m => m.Cantidad, new { @class = "form-control", @readonly = "true" })
            </div>
            <div class="col-sm-3">
                <label>Costo Unitario</label>
                @Html.TextBoxFor(m => m.Precio, new { @class = "form-control", @readonly = "true" })
            </div>
            <div class="col-sm-3">
                <label>Costo Total</label>
                @Html.TextBoxFor(m => m.Total, new { @class = "form-control", @readonly = "true" }) 
            </div>
        </div>
    }
    <hr />
    <div class="form-group row">
        <div class="col-sm-12">
            <a href="#" onclick='ocultar_panel("PCAVIndex", "Almacenes")' class="btn btn-info">
                <i class='fa fa-arrow-left'></i>
                Regresar
            </a>
            <button class="btn btn-success">
                <i class='fa fa-save'></i>
                Guardar
            </button>
        </div>
    </div>
</div>