@model Datos.Models.FacturacionModel

<div class="container-fluid">
@using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "DatosForm" }))
{
    <div class="row">
        <div class="col-sm-4" align="center">
            <label>Atenci&oacute;n</label><br />
            @Html.TextBoxFor(m => m.Atencion, new { @class = "form-control", @maxlength = "20", onkeypress = "solo_alfanumericos(event)" })
        </div>
        <div class="col-sm-4" align="center">
            <label>Forma de Pago</label><br />
            @Html.TextBoxFor(m => m.FormaPago, new { @class = "form-control alert-warning", @maxlength = "3", onkeypress = "solo_enteros(event)", ondblclick = "AjaxModalGet('Forma de Pago', '/Maestro/FormaPago', 'nada2', 'm_normal')" })
        </div>
        <div class="col-sm-4" align="center">
            <label>Descuento</label><br />
            @Html.TextBoxFor(m => m.Documento, new { @class = "form-control", @maxlength = "11", onkeypress = "solo_decimal(event,this)" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" align="center">
            <label>Disponibilidad</label><br />
            @Html.DropDownListFor(m => m.Disponibilidad, new List<SelectListItem>
            {
                new SelectListItem{ Text="Inmediato", Value = "0" },
                new SelectListItem{ Text="5 días", Value = "1" },
                new SelectListItem{ Text="10 días", Value = "2" },
            }, new { @class = "form-control" }) 
        </div>
        <div class="col-sm-4" align="center">
            <label>Fecha de Entrega</label><br />
            @Html.TextBoxFor(m => m.FechaEmision, new { @class = "form-control datepickers", @readonly = "true" })
        </div>
        <div class="col-sm-4" align="center">
            <label>Lugar de Entrega</label><br />
            @Html.TextBoxFor(m => m.LugarEntrega, new { @class = "form-control", @maxlength = "60", onkeypress = "solo_alfanumericos(event)" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4" align="center">
            <label>Validez de Oferta</label><br />
            @Html.DropDownListFor(m => m.ValidezOferta, new List<SelectListItem>
            {
                new SelectListItem{ Text="Inmediato", Value = "0" },
                new SelectListItem{ Text="5 días", Value = "1" },
                new SelectListItem{ Text="10 días", Value = "2" },
            }, new { @class = "form-control" }) 
        </div>
        <div class="col-sm-4" align="center">
            <label>Garant&iacute;a</label><br />
            @Html.TextBoxFor(m => m.Garantia, new { @class = "form-control datepickers", @readonly = "true" })
        </div>
        <div class="col-sm-4" align="center">
            <label>Emisor</label><br />
            @Html.TextBoxFor(m => m.Emisor, new { @class = "form-control", @maxlength = "60", onkeypress = "solo_alfanumericos(event)" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" align="center">
            <label>Cargo de Emisor</label><br />
            @Html.TextBoxFor(m => m.CargoEmisor, new { @class = "form-control", @maxlength = "60", onkeypress = "solo_alfanumericos(event)" })
        </div>
        <div class="col-sm-8" align="center">
            <label>Observaciones</label><br />
            @Html.TextBoxFor(m => m.Observacion, new { @class = "form-control", @maxlength = "60", onkeypress = "solo_alfanumericos(event)" })
        </div>
    </div>
}
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <a href="#" class="btn btn-info" onclick="$('#m_middle').modal('hide')">
                <i class='fa fa-arrow-left'></i>
                Regresar
            </a>
            <a href="#" class="btn btn-success">
                <i class='fa fa-save'></i>
                Aceptar
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".datepickers").datepicker({
        autoclose: true
    });
</script>