@model Datos.Models.MaestroModel

@using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "DatosForm" }))
{
    <div class="row">
        <div class="col-sm-2">
            <label>C&oacute;digo</label>
            @if (Model != null && !String.IsNullOrEmpty(Model.Codigo))
            {
                @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control", @readonly = "true" })
            }
            else
            {
                @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control", @maxlength = "10", onkeypress = "solo_alfanumericos(event)" })
            }
        </div>
        <div class="col-sm-4">
            <label>Descripci&oacute;n</label>
            @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", @maxlength = "60", onkeypress = "solo_alfanumericos(event)" })
        </div>
        <div class="col-sm-2">
            <label>Tipo Trans.</label>
            <select class="form-control">
                <option>Ingreso</option>
            </select>
        </div>
        <div class="col-sm-2">
            <label>Nro. Motivo</label>
            @Html.TextBoxFor(m => m.NroDias, new { @class = "form-control", @maxlength = "10", onkeypress = "solo_enteros(event)" })
        </div>
        <div class="col-sm-2">
            <br />
            @Html.CheckBoxFor(m => m.Activo)&nbsp;
            Activo
        </div>
    </div>
    <div class="row p-1">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-danger font-weight-bold">Configurar datos del documento</div>
                <div class="card-body">
                    <div class="row p-1">
                        <div class="col-sm-3">
                            @Html.CheckBoxFor(m => m.AplicaProveedor)&nbsp;
                            Proveedor
                        </div>
                        <div class="col-sm-3">
                            @Html.CheckBoxFor(m => m.AplicaDocumentoReferencia)&nbsp;
                            Doc. Ref.
                        </div>
                        <div class="col-sm-3">
                            @Html.CheckBoxFor(m => m.AplicaCliente)&nbsp;
                            Cliente
                        </div>
                        <div class="col-sm-3">
                            @Html.CheckBoxFor(m => m.AplicaOrdenProduccion)&nbsp;
                            Orden de producci&oacute;n
                        </div>
                        <div class="col-sm-3">
                            @Html.CheckBoxFor(m => m.AplicaDtoStock)&nbsp;
                            Descuenta Stock
                        </div>
                        <div class="col-sm-3">
                            @Html.CheckBoxFor(m => m.AplicaOrdenImportacion)&nbsp;
                            Orden de importaci&oacute;n
                        </div>
                        <div class="col-sm-3">
                            @Html.CheckBoxFor(m => m.AplicaComentario)&nbsp;
                            Comentario
                        </div>
                        <div class="col-sm-3">
                            @Html.CheckBoxFor(m => m.AplicoCentroCosto)&nbsp;
                            Centro de Costo
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<hr />
<div class="form-group row">
    <div class="col-sm-12">
        <a href="#" onclick="ocultar_panel('TATALIndex', 'Maestro')" class="btn btn-info">
            <i class='fa fa-arrow-left'></i>
            Regresar
        </a>
        <a href="#" class="btn btn-success">
            <i class='fa fa-save'></i>
            Guardar
        </a>
    </div>
</div>