@model Datos.Models.ArticuloModel

@{
    ViewBag.Title = "";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Maestro", "Index", "Maestro")</li>
                    <li class="breadcrumbs-item active">Utilidades Adicionales</li>
                    <li class="breadcrumbs-item active">Creaci&oacute;n Masiva de Nuevos Art&iacute;culos</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>Creaci&oacute;n Masiva de Nuevos Art&iacute;culos</b></h5>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda Maestro - Creacion Masiva de Nuevos Articulos - Inicio ', '/Maestro/Ayuda', 'UACMNAIndex', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2">
            <label>C&oacute;digo</label>
            @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control alert-warning", @maxlength = "11", onkeypress = "solo_enteros(event)", ondblclick = "AjaxModalGet('Artículos', '/Articulo/Articulos', 'nada2', 'm_middle')" })
        </div>
        <div class="col-sm-4">
            <label>Descripci&oacute;n</label>
            @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", @maxlength = "60", onkeypress = "solo_alfanumericos(event)" })
        </div>
        <div class="col-sm-4 row">
            <div class="col-sm-12">
                <label>Unidad de medida</label>
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.CodigoUnidadMedida, new { @class = "form-control alert-warning", @maxlength = "2", onkeypress = "solo_enteros(event)", ondblclick = "AjaxModalGet('Unidades de Medida', '/Maestro/UnidadMedida', 'nada2', 'm_middle')" })
            </div>
            <div class="col-sm-8">
                <input id="descripcion_unidad" readonly class="form-control" />
            </div>
        </div>
        <div class="col-sm-2">
            <label>Marca</label>
            @Html.TextBoxFor(m => m.Marca, new { @class = "form-control", @maxlength = "60", onkeypress = "solo_alfanumericos(event)" })
        </div>
        <div class="col-sm-2">
            <label>Moneda</label>
            @Html.DropDownListFor(m => m.MonedaCompra, new List<SelectListItem>
            {
                new SelectListItem{ Text="Moneda Nacional", Value = "MN" },
                new SelectListItem{ Text="Moneda Extranjera", Value = "ME" },
            }, new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            <label>P. Venta Min.</label>
            @Html.TextBoxFor(m => m.PrecioMinimo, new { @class = "form-control", @maxlength = "10", onkeypress = "solo_decimal(event,this)" })
        </div>
        <div class="col-sm-2">
            <label>P. por Mayor</label>
            @Html.TextBoxFor(m => m.PrecioLibre, new { @class = "form-control", @maxlength = "10", onkeypress = "solo_decimal(event,this)" })
        </div>
        <div class="col-sm-2">
            <label>P. Venta Pub.</label>
            @Html.TextBoxFor(m => m.PrecioVenta, new { @class = "form-control", @maxlength = "10", onkeypress = "solo_decimal(event,this)" })
        </div>
        <div class="col-sm-4 row">
            <div class="col-sm-12">
                <label>Familia</label>
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.CodigoFamilia, new { @class = "form-control alert-warning", @maxlength = "2", onkeypress = "solo_enteros(event)", ondblclick = "AjaxModalGet('Familias', '/Maestro/Familias', 'nada2', 'm_middle')" })
            </div>
            <div class="col-sm-8">
                <input id="descripcion_Familia" readonly class="form-control" />
            </div>
        </div>
        <div class="col-sm-4 row">
            <div class="col-sm-12">
                <label>Linea</label>
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.CodigoLinea, new { @class = "form-control alert-warning", @maxlength = "2", onkeypress = "solo_enteros(event)", ondblclick = "AjaxModalGet('Linea', '/Maestro/Lineas', 'nada2', 'm_middle')" })
            </div>
            <div class="col-sm-8">
                <input id="descripcion_Linea" readonly class="form-control" />
            </div>
        </div>
        <div class="col-sm-4 row">
            <div class="col-sm-12">
                <label>Grupo</label>
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.CodigoGrupo, new { @class = "form-control alert-warning", @maxlength = "2", onkeypress = "solo_enteros(event)", ondblclick = "AjaxModalGet('Grupo', '/Maestro/Grupos', 'nada2', 'm_middle')" })
            </div>
            <div class="col-sm-8">
                <input id="descripcion_Grupo" readonly class="form-control" />
            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <input type="checkbox" />&nbsp;
            Precio Incluyen IGV
        </div>
        <div class="col-sm-3">
            <label>Tasa IGV (%)</label>
            <input class="form-control" readonly />
        </div>
        <div class="col-sm-6">
            <br />
            <a href="#" class="btn btn-primary" onclick="addToCartTable()">
                <i class='fa fa-plus'></i>
                Agregar
            </a>
        </div>
    </div>
    <br />
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered pre-scrollable datatables" id="target" cellspacing="0" style="width: 120%">
                    <thead>
                        <tr>
                            <th>C&oacute;digo</th>
                            <th style="width: 20%">Descripci&oacute;n</th>
                            <th>Unidad</th>
                            <th>Marca</th>
                            <th>Moneda</th>
                            <th>P. Vta. Min.</th>
                            <th>P. por Mayor</th>
                            <th>P. Vta. P&uacute;blico</th>
                            <th>Familia</th>
                            <th>L&iacute;nea</th>
                            <th>Grupo</th>
                            <th style="width: 5px"></th>
                            <th style="width: 5px"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <a href="#" class="btn btn-success">
                <i class='fa fa-save'></i>
                Guardar
            </a>
        </div>
    </div>
</div>

<script>
    function add(button) {
        var row = button.parentNode.parentNode;
        var cells = row.querySelectorAll('td:not(:last-of-type)');
        addToCartTable(cells);
    }

    function remove() {
        var row = this.parentNode.parentNode;
        document.querySelector('#target tbody')
                      .removeChild(row);
    }

    function addToCartTable(cells) {
        var newRow = document.createElement('tr');

        newRow.appendChild(createCell($("#Codigo").val()));
        newRow.appendChild(createCell($("#Descripcion").val()));
        newRow.appendChild(createCell($("#CodigoUnidadMedida").val()));
        newRow.appendChild(createCell($("#Marca").val()));
        newRow.appendChild(createCell($("#MonedaCompra").val()));
        newRow.appendChild(createCell($("#PrecioMinimo").val()));
        newRow.appendChild(createCell($("#PrecioLibre").val()));
        newRow.appendChild(createCell($("#PrecioVenta").val()));
        newRow.appendChild(createCell($("#CodigoFamilia").val()));
        newRow.appendChild(createCell($("#CodigoLinea").val()));
        newRow.appendChild(createCell($("#CodigoGrupo").val()));

        var cellA = createCell();
        cellA.appendChild(createA());
        newRow.appendChild(cellA);

        var cellRemoveBtn = createCell();
        cellRemoveBtn.appendChild(createRemoveBtn())
        newRow.appendChild(cellRemoveBtn);

        document.querySelector('#target tbody').appendChild(newRow);
    }

    function createA() {
        var a = document.createElement('a');
            a.className = 'btn btn-primary grid_opt';
            a.title = "Imprimir";
            a.href = "#";

        var i = document.createElement('i');
            i.className = "fa fa-print";

        a.appendChild(i);

        return a;
    }

    function createRemoveBtn() {
        //return '<a class="btn btn-danger grid_opt" title="Anular" href="#" onclick="anular_nota(\'' + row.Id + '\')"><i class="fa fa-trash"></i></a>';
        var a = document.createElement('a');
        a.className = 'btn btn-danger grid_opt';
        a.title = "Eliminar";
        a.onclick = remove;
        a.href = "#";

        var i = document.createElement('i');
        i.className = "fa fa-trash";

        a.appendChild(i);

        return a;
    }

    function createCell(text) {
        var td = document.createElement('td');
        if (text) {
            td.innerText = text;
        }
        return td;
    }
</script>
