@model Datos.Models.CuentasPorPagarModel
@{
    ViewBag.Title = "Saldos por Pagar por Proveedor";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Cuentas Por Pagar", "Index", "CuentasPorPagar")</li>
                    <li class="breadcrumbs-item">Consultas</li>
                    <li class="breadcrumbs-item"><a href="#" onclick='pagina_central("CSPPIndex", "CuentasPorPagar")'>@ViewBag.Title</a></li>
                    <li class="breadcrumbs-item active">Detalle</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>@ViewBag.Title</b></h5>
            <h6><label style="color:#ffbc00">Proveedor</label> #<strong>@Model.Codigo</strong></h6>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda @ViewBag.Title - Inicio', '/CuentasPorPagar/Ayuda', 'CSPPDetalle', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2">
            <label>R.U.C.</label>
            <input class="form-control" readonly />
        </div>
        <div class="col-sm-4">
            <label>Proveedor</label>
            <input class="form-control" readonly />
        </div>
        <div class="col-sm-2">
            <label>Fecha Desde</label><br />
            <input class="form-control datepickers" readonly />
        </div>
        <div class="col-sm-2">
            <label>Fecha Hasta</label><br />
            <input class="form-control datepickers" readonly />
        </div>
        <div class="col-sm-2">
            <br />
            <a href="#" class="btn btn-primary">
                <i class='fa fa-search'></i>
                Buscar
            </a>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped pre-scrollable datatables" id="CSPPDetalleGrid" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Fecha Emisi&oacute;n</th>
                        <th>Importe</th>
                        <th>Moneda</th>
                        <th>Venc. Monto</th>
                        <th>D&iacute;as</th>
                        <th>Saldo</th>
                        <th>E.L.</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-6 text-right">
            <br />
            <b>Totales</b>
        </div>
        <div class="col-sm-3">
            <label>Soles</label><br />
            <input class="form-control" readonly />
        </div>
        <div class="col-sm-3">
            <label>D&oacute;lares</label><br />
            <input class="form-control" readonly />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <a href="#" onclick="ocultar_panel('CSPPIndex', 'CuentasPorPagar')" class="btn btn-info">
                <i class='fa fa-arrow-left'></i>
                Regresar
            </a>
        </div>
    </div>
</div>
<script>
    $(".datepickers").datepicker({
        autoclose: true
    });

    $('.telefono').mask('(000) 000-0000', { placeholder: "(000) 000-0000" });

    $('input[type=radio]').iCheck({
        radioClass: 'iradio_square-blue',
    });

    $('input[type=checkbox]').iCheck({
        checkboxClass: 'icheckbox_square-blue',
    });

    $(function () {
        $("#CSPPDetalleGrid").DataTable({
            processing: true, // for show progress bar
            serverSide: true, // for process server side
            filter: true, // this is for disable filter (search box)
            orderMulti: false, // for disable multiple column at once

            ajax: {
                url: ruta_actual + "/CuentasPorPagar/GridTDPPTransaccion",
                type: "POST",
                datatype: "json",
            },
            columns: [
                { data: "Documento" },
                { data: "FechaEmision" },
                { data: "ImporteNeto" },
                { data: "Moneda" },
                { data: "TotalCredito" },
                { data: "Dias" },
                { data: "SaldoActual" },
                { data: "Glosa" },
            ]
        });
    });
</script>

