@{
    ViewBag.Title = "Factura con Orden de Compra";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Compras", "Index", "Compras")</li>
                    <li class="breadcrumbs-item">Compras Nacionales</li>
                    <li class="breadcrumbs-item">&Oacute;rdenes de Compra</li>
                    <li class="breadcrumbs-item">@Html.ActionLink("Factura con Orden de Compra", "FOCIndex", "Compras")</li>
                    <li class="breadcrumbs-item active">Editar</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>@ViewBag.Title</b></h5>
            <h6><label style="color:#ffbc00">Editar Registro</label> #<strong>@Model.OCId</strong></h6>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda @ViewBag.Title - Crear / Editar', '/Compras/Ayuda', 'FOCDatos', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    <hr />
    @Html.Partial("FOCDatos")
</div>


