@model Datos.Models.ComprasModel

@{
    ViewBag.Title = "Resumen de Compras";
    //Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Compras", "Index", "Compras")</li>
                    <li class="breadcrumbs-item active">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>@ViewBag.Title</b></h5>
        </div>
    </div>
    <hr />
    <!-- Cajas de Texto -->
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total de Compras</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.total_compras</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total de Proveedores</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.total_proveedores</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-bar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total de Productos Vendidos</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.total_productos</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-area fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Cajas de Texto -->
    <!-- Gráficos -->
    <div class="row p-2">
        <div class="col-sm-6">
            <div class="card shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Certificación de proveedores</h6>
                </div>
                <div class="card-body">
                    <div id="div_proveedores_certificados"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Calidad de los pedidos generados</h6>
                </div>
                <div class="card-body">
                    <div id="div_pedidos_generados"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-sm-6">
            <div class="card shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Volumen de compra</h6>
                </div>
                <div class="card-body">
                    <div id="div_valor_compra"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Entregas perfectamente recibidas</h6>
                </div>
                <div class="card-body">
                    <div id="div_pedidos_rechazados"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Gráficos -->
</div>
<script type="text/javascript">
    var proveedores_certificados = @Html.Raw(Json.Encode(@ViewData["proveedores_certificados"]));
    var pedidos_generados = @Html.Raw(Json.Encode(@ViewData["pedidos_generados"]));
    var meses = @Html.Raw(Json.Encode(@ViewData["meses"]));
    var valor_compra = @Html.Raw(Json.Encode(@ViewData["valor_compra"]));
    var pedidos_rechazados = @Html.Raw(Json.Encode(@ViewData["pedidos_rechazados"]));
    var i;

    //var div_proveedores_certificados = document.getElementById('div_proveedores_certificados').getContext('2d');

    Highcharts.chart('div_proveedores_certificados', {
        chart: {
            height: 310,
            type: 'line'
        },
        title: {
            text: ' .'
        },
        xAxis: {
            categories: meses
        },
        yAxis: {
            title: {
                text: 'Indicador'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Mes',
            data: proveedores_certificados,
            color: '#f7a35c'
        },]
    });

    Highcharts.chart('div_pedidos_generados', {
        chart: {
            height: 310,
            type: 'column'
        },
        title: {
            text: '.'
        },
        xAxis: {
            categories: meses,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Indicador'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                }
            }
        },
        series: [{
            name: 'Mes',
            data: pedidos_generados
        }]
    });

    Highcharts.chart('div_valor_compra', {
        chart: {
            height: 310,
            type: 'line'
        },
        title: {
            text: ' .'
        },
        xAxis: {
            categories: meses
        },
        yAxis: {
            title: {
                text: 'Indicador'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Mes',
            data: valor_compra
        },]
    });

    Highcharts.chart('div_pedidos_rechazados', {
        chart: {
            height: 310,
            type: 'column'
        },
        title: {
            text: '.'
        },
        xAxis: {
            categories: meses,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Indicador'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                }
            }
        },
        series: [{
            name: 'Mes',
            data: pedidos_rechazados,
            color: '#f7a35c'
        }]
    });

    /*var myChart = new Chart(div_proveedores_certificados, {
        type: 'line',
        data: {
            labels: meses,
            datasets: [{
                label: "",
                hoverBackgroundColor: "#2e59d9",
                borderColor: "#4e73df",
                data: proveedores_certificados,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });*/
</script>

