@model Datos.Models.ComprasModel

@{
    ViewBag.Title = "Compras por Proveedor";
    Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Compras", "Index", "Compras")</li>
                    <li class="breadcrumbs-item">Reportes</li>
                    <li class="breadcrumbs-item active">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>@ViewBag.Title</b></h5>
        </div>
        
        <div class="col-sm-1">
            <a href="#" onclick="AjaxModalGet('Ayuda @ViewBag.Title - Inicio', '/Compras/Ayuda', 'RProveedorIndex', 'm_ayudas')" class="icono_ayuda">
                <i class="fa fa-question-circle fa-2x"></i>
            </a>
        </div>
    </div>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "IndexForm" }))
    {
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Proveedor</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <label>Todos </label><br />
                                <input type="checkbox" />
                            </div>
                            <div class="col-sm-5 border-left border-left-1">
                                <label>Desde</label><br />
                                <div class="row">
                                    <div class="col-sm-5">
                                        @Html.TextBox("CodigoProveedor", "001", new { @class = "form-control alert-warning", @maxlength = "11", onkeypress = "solo_enteros(event)", ondblclick = "AjaxModalGet('Listado de Proveedores', '/Proveedor/Proveedores', 'nada2', 'm_middle')" })
                                    </div>
                                    <div class="col-sm-7">
                                        <input class="form-control" readonly value="Proveedor 001" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 border-left border-left-1">
                                <label>Hasta</label><br />
                                <div class="row">
                                    <div class="col-sm-5">
                                        @Html.TextBox("CodigoProveedor", "999", new { @class = "form-control alert-warning", @maxlength = "11", onkeypress = "solo_enteros(event)", ondblclick = "AjaxModalGet('Listado de Proveedores', '/Proveedor/Proveedores', 'nada2', 'm_middle')" })
                                    </div>
                                    <div class="col-sm-7">
                                        <input class="form-control" readonly value="Proveedor 999" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Moneda</div>
                    <div class="card-body">
                        <div class="row">
                            <select class="form-control" onchange="$('#descripcion_moneda')[0].value=this.value">
                                <option value="">Seleccione</option>
                                <option value="Moneda Nacional">Moneda Nacional</option>
                                <option value="Moneda Extranjera">Moneda Extranjera</option>
                            </select>
                        </div>
                        <br />
                        <div class="row">
                            <input class="form-control" id="descripcion_moneda" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Fecha</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Desde</label><br />
                                <input class="form-control datepickers" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label>Hasta</label><br />
                                <input class="form-control datepickers" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Opciones</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <input name="opt" type="radio" />
                                <label>Reporte Resumido</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input name="opt" type="radio" />
                                <label>Reporte Detallado</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header text-danger font-weight-bold">Detallado por</div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <select class="form-control">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-sm-12">
            <a href="#" class="btn btn-primary">
                <i class='fa fa-print'></i>
                Imprimir
            </a>
        </div>
    }
</div>
<script>
    $(".datepickers").datepicker({
        autoclose: true
    });

    $('.telefono').mask('(000) 000-0000', { placeholder: "(000) 000-0000" });

    $('input[type=radio]').iCheck({
        radioClass: 'iradio_square-blue',
    });

    $('input[type=checkbox]').iCheck({
        checkboxClass: 'icheckbox_square-blue',
    });
</script>