@{
    ViewBag.Title = "Resumen de Utilidades";
    //Layout = null; //Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumbs">
                    <li class="breadcrumbs-item">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="breadcrumbs-item active">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-11">
            <h5> <b>@ViewBag.Title</b></h5>
        </div>
    </div>
    <hr />
    <!-- Cajas de Texto -->
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Almacenes</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="i_total_total_cuentas">@ViewBag.total_almacenes</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Empresas</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.total_empresas</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-bar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Tasa de Cambio al d&iacute;a</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$ @ViewBag.tasa_cambio</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-area fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Cajas de Texto -->
    <!-- Gráficos -->
    <div class="row p-2">
        <div class="col-sm-6">
            <div class="card shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Productos por Almac&eacute;n</h6>
                </div>
                <div class="card-body">
                    <div id="div_almacenes"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Tasa por d&iacute;a</h6>
                </div>
                <div class="card-body">
                    <div id="div_tasas"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Gráficos -->
</div>
<script type="text/javascript">
    var dias = @Html.Raw(Json.Encode(@ViewData["dias"]));
    var tasa_diaria = @Html.Raw(Json.Encode(@ViewData["tasa_diaria"]));
    var i;

    Highcharts.chart('div_almacenes', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            height: 310,
        },
        title: {
            text: '.'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Productos',
            colorByPoint: true,
            data: [{
                name: 'Almacén 1',
                y: @ViewBag.almacen_1,
                sliced: true,
                selected: true
            }, {
                name: 'Almacén 2',
                y: @ViewBag.almacen_2,
            }, {
                name: 'Almacén 3',
                y: @ViewBag.almacen_3,
            }]
        }]
    });

    Highcharts.chart('div_tasas', {
        chart: {
            height: 310,
            type: 'line'
        },
        title: {
            text: ' .'
        },
        xAxis: {
            categories: dias
        },
        yAxis: {
            title: {
                text: '.'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: false
                },
                enableMouseTracking: true
            }
        },
        series: [{
            name: 'Tasa',
            data: tasa_diaria,
            color: '#2f7ed8'
        }],
    });
</script>


